* {
    margin: 0;
    padding: 0;
  }

/* main {
    background-color: blue;
} */

/* body {
    background-color: coral;
} */

:root {
    --first_choice: #33cae4;
    --second_choice: #497980;
    --third_choice: rgb(192, 246, 253);
    --fourth_choice: rgb(234, 225, 225);
    --fourth_choice: rgb(154, 150, 150);
    --fifth_choice: #95dcff;
    font-size: 62%;
  }
  
  /* Adding styling to the header section */
  
  
  
  /* Adding styling to the main section */
  main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  main {
    margin: 10px;
    padding: 15px;
    height: calc(100% - 70%);
    background: url(../images/ocean2.jpg);
    background-size: cover;
    background-position: 100% 100%;
    border: 2px solid var(--fifth);
    overflow: scroll;
  }
  
 
  
  /* Applying media query to create different layouts depending on the size of the viewport make */
  @media screen and (max-width: 1000px) {
    
    header {
        margin-top: 0;
        padding: 5px;
    }
   
  }